<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <!-- Include Bootstrap and AdminLTE CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <!-- Top Navigation Bar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <div class="container">
            <a href="#" class="navbar-brand">
                <span class="brand-text font-weight-light">GSA DATA COLLECTION Tool</span>
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown"></div>
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://i.pravatar.cc/40" alt="User Avatar" class="img-circle" style="width: 30px; height: 30px;">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <div class="dropdown-item text-center">
                                <img src="https://i.pravatar.cc/40" alt="User Avatar" class="img-circle mb-2" style="width: 60px; height: 60px;">
                                <p class="mb-1"><strong>{{ entity.contact_name }}</strong></p>
                                <p class="text-muted mb-0 text-left">{{ entity.contact_email }}</p>
                                <p class="text-muted text-left">{{ entity.contact_phone }}</p>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center text-danger" href="{{ url_for('thank_you') }}">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0"> {{entity.name}} Services</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List of Services</h3>
                        <button class="btn btn-primary float-right" data-toggle="modal" data-target="#addServiceModal">Add Service</button>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Interaction Category</th>
                                    <th>Total Users</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service in services %}
                                <tr>
                                    <td>{{ service.service_name }}</td>
                                    <td>{{ service.interaction_category }}</td>
                                    <td>{{ service.users_total if service.users_total is not none else 'Unknown' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="main-footer text-center">
        <strong>All rights reserved to NITA-U</strong>
    </footer>
</div>

<!-- Modal for Adding Service -->
<div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('add_service', signed_url=signed_url) }}">
                {{ form.hidden_tag() }}
                <div class="modal-header">
                    <h5 class="modal-title" id="addServiceModalLabel">Add Service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items() %}
                                    <li>
                                        <strong>{{ form[field].label.text }}:</strong>  <!-- Show the field label -->
                                        {% for error in errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <ul class="nav nav-tabs" id="serviceFormTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="interaction-tab" data-toggle="tab" href="#interaction" role="tab" aria-controls="interaction" aria-selected="false">Interaction Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="delivery-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="delivery" aria-selected="false">Delivery Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-selected="false">Support Channels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="access-tab" data-toggle="tab" href="#access" role="tab" aria-controls="access" aria-selected="false">Access Mode</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="system-details-tab" data-toggle="tab" href="#system-details" role="tab" aria-controls="kpi" aria-selected="false">System Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="remarks-tab" data-toggle="tab" href="#remarks" role="tab" aria-controls="remarks" aria-selected="false">Remarks</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="serviceFormTabsContent">
                        <div class="tab-pane fade show active pt-3" id="general" role="tabpanel" aria-labelledby="general-tab">
                            <div class="form-group">
                                {{ form.service_name.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                <i class="fas fa-info-circle text-primary" data-toggle="tooltip" data-placement="right" title="{{ form.service_name.description }}"></i>
                                {{ form.service_name(class="form-control") }}
                                {% if form.service_name.errors %}
                                    <div class="text-danger">
                                        {% for error in form.service_name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.description.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                <i class="fas fa-info-circle text-primary" data-toggle="tooltip" data-placement="right" title="{{ form.description.description }}"></i>
                                {{ form.description(class="form-control") }}
                                {% if form.description.errors %}
                                    <div class="text-danger">
                                        {% for error in form.description.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade pt-3" id="interaction" role="tabpanel" aria-labelledby="interaction-tab">
                            <div class="form-group">
                                {{ form.interaction_category.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                <i class="fas fa-info-circle text-primary" data-toggle="tooltip" data-placement="right" title="{{ form.interaction_category.description }}"></i>
                                {% for subfield in form.interaction_category %}
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="{{ subfield.id }}" name="{{ subfield.name }}" value="{{ subfield.data }}" {% if subfield.checked %}checked{% endif %}>
                                        <label class="form-check-label" for="{{ subfield.id }}">
                                            {{ subfield.label.text }}
                                        </label>
                                    </div>
                                {% endfor %}
                                {% if form.interaction_category.errors %}
                                    <div class="text-danger">
                                        {% for error in form.interaction_category.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.g2g_beneficiary_count.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                {{ form.g2g_beneficiary_count(class="form-control") }}
                                {% if form.g2g_beneficiary_count.errors %}
                                    <div class="text-danger">
                                        {% for error in form.g2g_beneficiary_count.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.geographic_reach.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                {{ form.geographic_reach(class="form-control") }}
                                {% if form.geographic_reach.errors %}
                                    <div class="text-danger">
                                        {% for error in form.geographic_reach.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.process_flow.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                <i class="fas fa-info-circle text-primary" data-toggle="tooltip" data-placement="right" title="{{ form.process_flow.description }}"></i>
                                {{ form.process_flow(class="form-control") }}
                                {% if form.process_flow.errors %}
                                    <div class="text-danger">
                                        {% for error in form.process_flow.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group form-check">
                                {{ form.has_kpi(class="form-check-input") }}
                                <i class="fas fa-info-circle text-primary" data-toggle="tooltip" data-placement="right" title="{{ form.has_kpi.description }}"></i>
                                {{ form.has_kpi.label(class="form-check-label") }}
                            </div>
                            <div class="form-group">
                                {{ form.kpi_details.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                {{ form.kpi_details(class="form-control") }}
                                {% if form.kpi_details.errors %}
                                    <div class="text-danger">
                                        {% for error in form.kpi_details.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade pt-3" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                            <div class="form-group">
                                {{ form.standard_duration.label(class="form-label") }}
                                {{ form.standard_duration(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.actual_duration.label(class="form-label") }}
                                {{ form.actual_duration(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.users_total.label(class="form-label") }}
                                {{ form.users_total(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.users_female.label(class="form-label") }}
                                {{ form.users_female(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.users_male.label(class="form-label") }}
                                {{ form.users_male(class="form-control") }}
                            </div>
                            <div class="form-group form-check">
                                {{ form.customer_satisfaction_measured(class="form-check-input") }}
                                <span class="text-danger">*</span>
                                {{ form.customer_satisfaction_measured.label(class="form-check-label") }}
                            </div>
                            <div class="form-group">
                                {{ form.customer_satisfaction_rating.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                {{ form.customer_satisfaction_rating(class="form-control") }}
                                {% if form.customer_satisfaction_rating.errors %}
                                    <div class="text-danger">
                                        {% for error in form.customer_satisfaction_rating.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade pt-3" id="support" role="tabpanel" aria-labelledby="support-tab">
                            <div class="form-group form-check">
                                {{ form.support_available(class="form-check-input") }}
                                <span class="text-danger">*</span>
                                {{ form.support_available.label(class="form-check-label") }}
                            </div>


                        </div>
                        <div class="tab-pane fade pt-3" id="access" role="tabpanel" aria-labelledby="access-tab">
                            <div class="form-group">
                                {{ form.access_mode.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                {% for subfield in form.access_mode %}
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="{{ subfield.id }}" name="{{ form.access_mode.name }}" value="{{ subfield.data }}" {% if subfield.checked %}checked{% endif %}>
                                        <label class="form-check-label" for="{{ subfield.id }}">
                                            {{ subfield.label.text }}
                                        </label>
                                    </div>
                                {% endfor %}
                                {% if form.access_mode.errors %}
                                    <div class="text-danger">
                                        {% for error in form.access_mode.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group form-check">
                                {{ form.access_website(class="form-check-input") }}
                                {{ form.access_website.label(class="form-check-label") }}
                            </div>
                            <div class="form-group form-check">
                                {{ form.access_mobile_app(class="form-check-input") }}
                                {{ form.access_mobile_app.label(class="form-check-label") }}
                            </div>
                            <div class="form-group form-check">
                                {{ form.access_ussd(class="form-check-input") }}
                                {{ form.access_ussd.label(class="form-check-label") }}
                            </div>
                            <div class="form-group form-check">
                                {{ form.access_physical_office(class="form-check-input") }}
                                {{ form.access_physical_office.label(class="form-check-label") }}
                            </div>
                            <div class="form-group form-check">
                                {{ form.requires_internet(class="form-check-input") }}
                                <span class="text-danger">*</span>
                                {{ form.requires_internet.label(class="form-check-label") }}
                            </div>
                            <div class="form-group form-check">
                                {{ form.self_service_available(class="form-check-input") }}
                                {{ form.self_service_available.label(class="form-check-label") }}
                            </div>
                        </div>
                        <div class="tab-pane fade pt-3" id="system-details" role="tabpanel" aria-labelledby="system-details-tab">
                            <div class="form-group form-check">
                                {{ form.supported_by_it_system(class="form-check-input") }}
                                <span class="text-danger">*</span>
                                {{ form.supported_by_it_system.label(class="form-check-label") }}
                            </div>
                
                            <div class="form-group">
                                {{ form.system_name.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                {{ form.system_name(class="form-control") }}
                                {% if form.system_name.errors %}
                                    <div class="text-danger">
                                        {% for error in form.system_name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.system_launch_date.label(class="form-label") }}
                                {{ form.system_launch_date(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.system_version.label(class="form-label") }}
                                {{ form.system_version(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.system_last_update.label(class="form-label") }}
                                {{ form.system_last_update(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.system_target_uptime.label(class="form-label") }}
                                {{ form.system_target_uptime(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.system_actual_uptime.label(class="form-label") }}
                                {{ form.system_actual_uptime(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.hosting_location.label(class="form-label") }}
                                {{ form.hosting_location(class="form-control") }}
                                {% if form.hosting_location.errors %}
                                    <div class="text-danger">
                                        {% for error in form.hosting_location.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.funding_details.label(class="form-label") }}
                                {{ form.funding_details(class="form-control") }}
                                {% if form.funding_details.errors %}
                                    <div class="text-danger">
                                        {% for error in form.funding_details.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group form-check">
                                {{ form.complies_with_standards(class="form-check-input") }}
                                <span class="text-danger">*</span>
                                {{ form.complies_with_standards.label(class="form-check-label") }}
                            </div>
                            <div class="form-group">
                                {{ form.standards_details.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                {{ form.standards_details(class="form-control") }}
                                {% if form.standards_details.errors %}
                                    <div class="text-danger">
                                        {% for error in form.standards_details.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group form-check">
                                {{ form.system_integrated(class="form-check-input") }}
                                <span class="text-danger">*</span>
                                {{ form.system_integrated.label(class="form-check-label") }}
                            </div>
                            <div class="form-group">
                                {{ form.integrated_systems.label(class="form-label") }}
                                <span class="text-danger">*</span>
                                {{ form.integrated_systems(class="form-control") }}
                                {% if form.integrated_systems.errors %}
                                    <div class="text-danger">
                                        {% for error in form.integrated_systems.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group form-check">
                                {{ form.planned_automation(class="form-check-input") }}
                                <span class="text-danger">*</span>
                                {{ form.planned_automation.label(class="form-check-label") }}
                            </div>
                        </div>
                        <div class="tab-pane fade pt-3" id="remarks" role="tabpanel" aria-labelledby="remarks-tab">
                            <div class="form-group">
                                {{ form.comments.label(class="form-label") }}
                                {{ form.comments(class="form-control") }}
                            </div>
                        </div>                
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Include Bootstrap and AdminLTE JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        // Function to toggle visibility of fields based on conditions
        function toggleConditionalFields() {
            // Toggle KPI details
            if ($('#has_kpi').is(':checked')) {
                $('#kpi_details').closest('.form-group').show();
            } else {
                $('#kpi_details').closest('.form-group').hide();
            }

            // Toggle system name
            if ($('#supported_by_it_system').is(':checked')) {
                $('#system_name').closest('.form-group').show();
                $("#system_launch_date").closest('.form-group').show();
                $("#system_version").closest('.form-group').show();
                $("#system_last_update").closest('.form-group').show();
                $("#system_target_uptime").closest('.form-group').show();
                $("#system_actual_uptime").closest('.form-group').show();  // Fixed the method call
                $("#system_integrated").closest('.form-group').show();
                $("#hosting_location").closest('.form-group').show();  // Show hosting location if system is supported
                $('#funding_details').closest('.form-group').show();  // Show funding details if system is supported
                $("#system_launch_date").closest('.form-group').show();  // Show system launch date if system is supported
                $("#complies_with_standards").closest('.form-group').show();  // Show complies with standards if system is supported
                
            } else {
                $('#system_name').closest('.form-group').hide();
                $("#hosting_location").closest('.form-group').hide();  // Hide hosting location if system is not supported
                $("#system_launch_date").closest('.form-group').hide();  // Hide system launch date if system is not supported
                $("#system_version").closest('.form-group').hide();
                $("#system_last_update").closest('.form-group').hide();
                $("#system_target_uptime").closest('.form-group').hide();
                $("#system_actual_uptime").closest('.form-group').hide();  // Fixed the method call
                $("#system_integrated").closest('.form-group').hide();
                $('#funding_details').closest('.form-group').hide();  // Hide funding details if system is not supported
                $("#complies_with_standards").closest('.form-group').hide();  // Hide complies with standards if system is not supported
            }

            // Toggle integrated systems
            if ($('#system_integrated').is(':checked')) {
                $('#integrated_systems').closest('.form-group').show();
            } else {
                $('#integrated_systems').closest('.form-group').hide();
            }

            // Toggle G2G beneficiary count
            if ($('input[name="interaction_category"][value="G2G"]').is(':checked')) {
                
                $('#g2g_beneficiary_count').closest('.form-group').show();
            } else {
                $('#g2g_beneficiary_count').closest('.form-group').hide();
            }

            // Toggle customer satisfaction rating
            if ($('#customer_satisfaction_measured').is(':checked')) {
                $('#customer_satisfaction_rating').closest('.form-group').show();
            } else {
                $('#customer_satisfaction_rating').closest('.form-group').hide();
            }

            // Toggle standards details
            if ($('#complies_with_standards').is(':checked')) {
                $('#standards_details').closest('.form-group').show();
            } else {
                $('#standards_details').closest('.form-group').hide();
            }
        }

        // Initial toggle on page load
        toggleConditionalFields();

        // Event listeners for changes
        $('#has_kpi, #supported_by_it_system, #system_integrated, #customer_satisfaction_measured, #complies_with_standards').on('change', toggleConditionalFields);
        $('input[name="interaction_category"]').on('change', toggleConditionalFields);
    });
</script>
</body>
</html>